@model RecipeModel

<a href="@Url.ActionLink("EditRecipe", "Recipe", new {recipeId=@Model.Id})">Edit</a>

<article class="blog-post">
    <img src="data:image;base64,@Model.ImageBase64" width="auto" height="300px" />
    <h2 class="blog-post-title">@Model.Title</h2>

    @Html.Raw("<p>" + @Model.Ingredients.Replace("\n", "<br/>") + "</p>")
    <hr>
    @Html.Raw("<p>" + @Model.Preparation.Replace("\n", "<br/>") + "</p>")
</article>