@model CookingBookModel

<main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">@Model.Name</h1>
          <p class="lead my-3">@Model.Description</p>
        </div>
      </div>

    <div class="row g-5">
        <div class="col-md-8">
            @foreach (var recipeModel in Model.RecipeModels)
            {
                <article class="blog-post">
                    <img src="data:image;base64,@recipeModel.ImageBase64" width="auto" height="300px"/>
                    <h2 class="blog-post-title">@recipeModel.Title</h2>
                    
                    @Html.Raw("<p>" + @recipeModel.Ingredients.Replace("\n", "<br/>") + "</p>")
                    <hr>
                    @Html.Raw("<p>" + @recipeModel.Preparation.Replace("\n", "<br/>") + "</p>")
                </article>
                <br/><br/>
            }
        </div>
    </div>
</main>

